@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159C1;
    font-family: 'Open Sans', sans-serif;
    line-height: 27px;
}

.hr{
    background: #2ECC71;
    grid-area: hr;
}
/* ///////////////// HEADER /////////////////// */
header {
    background-image: url(../img/background.png);
    background-position: 50% 50%;
    grid-area: header;
    display: flex;
}

header > .text{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 80px 0 0;
    color: #FFF;
    /* background: hotpink; */
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    font-weight: lighter;
}
h1 > span{
    color: #2ECC71;
}

.text > div > p{
    width: 350px;
}
.icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
} 
.icon{
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.500);
    border-radius: 20px;
    opacity: 0.7;
    -webkit-transition: 0.2s ease-out;
}

.icon:hover{
    background: #2ECC71;
    opacity: 1;
}
.icon > img:hover{
    opacity: 1;
}
.apple{
    margin: 8px 0 0 10px; 
    height: 23px;
}
.android{
    margin: 8px 0 0 10px; 
    height: 23px;
}
.windows{
    margin: 9px 0 0 8px; 
    height: 20px;
}
header > .img {
    display: flex;
    align-items: end;
    padding: 0 0 0 100px;
    width: 50%;
}

header > .img > img{
    height: 380px;
    width: auto;
    
    
}

@media only screen and (max-width: 820px) {
    header {
        justify-content: center;
        text-align: center;
    }
    header > .text{
        justify-content: center;
    }

    header > .img{
        display: none;
    }
    .apple{
        margin: 8px 0 0 0px; 
        height: 23px;
    }
    .android{
        margin: 8px 0 0 0px; 
        height: 23px;
    }
    .windows{
        margin: 9px 0 0 -1px; 
        height: 20px;
    }
    .text > div > div {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1100px) {
    header > .text{
        padding: 0 0 0 0;
    }
}
@media only screen and (max-width: 350px) {
    .text > div > p{
        width: 250px;
    }
}
/* ///////////////// FIM HEADER /////////////////// */

/* ///////////////// MAIN /////////////////// */
main {
    background: #FFF; 
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 50px 0 ;
}
main > .card{
    margin: 30px 3vw 0 3vw;
    width: 300px;
    height: auto;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
main > .card > .icm{
    background: #2ECC71;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.text-center{
    text-align: center;
    color: #333;
}
.text-center > p{
    font-size: 14px;
    color: #555;
}
@media only screen and (max-width: 1100px) {
    main > .card{
        margin: 30px 5px 0 5px;
    }
}
@media only screen and (max-width: 930px) {
    main > .card{
        width: 70%;
    }
}
/* ///////////////// FIM MAIN /////////////////// */

/* ///////////////// ASIDE /////////////////// */
aside {
    background: #DDD;
    grid-area: aside;
    display: flex;
    padding: 50px 0 50px 0;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
aside > .text-form{
    width: 50%;
    display: flex;
    justify-content: end;
}
aside > .video{
    width: 50%;
    display: flex;
    justify-content: center;
    
}
aside > .text-form > .text-center{
    width: 520px;
    height: auto;
    text-align: start;
    color: #333;
}
aside > .text-form > .text-center > p{
    font-size: 14px;
    color: #555;
}
.videob {
    width: 420px;
    /* height: 300px; */
    margin: 0 50px;
}
video {
    width: 100%;
     height: 100%;
    border-radius: 30px;
}
aside > .text-form > .text-center > .btn{
    display: flex;
    
}
aside > .text-form > .text-center > .btn > .btn-text{
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 0 0 0 10px;
    background: #FFF;
}
aside > .text-form > .text-center > .btn > .btn-btn{
    width: 100px;
    height: 40px;
    background: #2ECC71;
    color: #FFF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 0 10px 10px 0;
}
@media only screen and (max-width: 930px) {
    aside > .text-form{
        width: 100%;
        justify-content: center;
    }
    aside > .video{
        width: 100%;
    }
    aside > .text-form > .text-center{
        width: 90%;
    }
    .videob {
        margin-top: 30px;
        width: 80%;
        height: auto;
    }
    aside > .text-form > .text-center{
        width: 80%;
        height: auto;
    }
}
/* ///////////////// FIM ASIDE /////////////////// */

/* ///////////////// SECTION /////////////////// */
section {
    background: #FFF;
    width: 100%;
    grid-area: section;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
}

section > div {
    
    width: 100%;
    align-self: center;
    text-align: center;
}

section > div > p{
    width: 60%;
    margin: auto;
    color: #555;
}
section > div > p:nth-child(1){
    font-style: italic;
}

section > div > h3{
    width: 60%;
    margin: 20px auto;
    color: #333;
    font-size: 20px;
}
.slide{
    height: 50px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.car{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow: scroll;
    
}
.c1{
    flex: none;
    width: 50px;
    height: 50px;
    margin: 0 1px;
    /* scroll-snap-align: start; */
    /* pointer-events: none; */
}
.slide .itens:hover{
    background-color: #2ecc709c;
}
.slide .itens{
    height: 100%;
    width: 100%;
    -webkit-transition: 0.2s ease-out;
}
.c1{
    background-image: url(https://i.pinimg.com/originals/a0/2f/d3/a02fd341cb7201f9226cafb5a392be8d.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
section > div > h2{
    width: 60%;
    margin: 50px auto 20px auto;
    color: #333;
    font-size: 25px;
}
.icons-redes{
    margin: 30px auto 20px auto;
    width: 250px;
    display: flex;
    justify-content: space-between;
} 
.icons-redes > .icon{
    background: #CCC;
    width: 35px;
    height: 35px;
}
.icons-redes > .icon:hover{
    background: #2ECC71;
    opacity: 1;
}
.twitter{
    padding: 12px 0 0 0;
}
.face{
    padding: 10px 0 0 0;
}
.pinter{
    padding: 8px 0 0 0;
}
.google{
    padding: 9px 0 0 2px;
}
.linkedin{
    padding: 9px 0 0 0;
}
.youtube{
    padding: 6px 0 0 0;
}
/* ///////////////// FIM SECTION /////////////////// */

/* ///////////////// FOOTER /////////////////// */
footer {
    background: #DDD;
    grid-area: footer;
    padding: 40px 0;
}

footer > div {
    margin: auto;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer > div > a{
    font-size: 15px;
    margin: 0 10px;
    /* letter-spacing: 1px; */
    color: #666;
    font-weight: 400;
    position: relative;
    z-index: 1;
    text-decoration: none;
}
/* ///////////////// FIM FOOTER /////////////////// */

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10px 450px auto auto auto auto;
    grid-template-areas: 
    "hr hr hr"
    "header header header"
    "main main main"
    "aside aside aside"
    "section section section"
    "footer footer footer"
    ;
}